/* ----------------------------------------------------------------
	Custom CSS

	Add all your Custom Styled CSS here for New Styles or
	Overwriting Default Theme Styles for Better Handling Updates
-----------------------------------------------------------------*/


.file-button {
	display: inline-block;
	clear: both;
	padding: 0.5rem;
	border-radius: 10px;
	margin-top: 0.5rem;
	cursor: pointer;
	background: #322d2d;
	color: white;
	font-size: 0.7rem;
}

.file-button:hover {
	color: white;
}

.file-button-icon {
	font-size: 1rem;
	border-left: 1px solid white;
	padding-left: 0.3rem;
}