<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=PT+Serif:ital@0;1&display=swap" rel="stylesheet">

<!-- Core Style -->
<link rel="stylesheet" href="style.css">

<!-- Font Icons -->
<link rel="stylesheet" href="css/font-icons.css">

<!-- Custom CSS -->
<link rel="stylesheet" href="css/custom.css">

<nav class="primary-menu">

    <ul class="menu-container">
        <li class="menu-item">
            <a class="menu-link" href="index"><div>Acasa</div></a>
        </li>
        <li class="menu-item">
            <a class="menu-link" href="#"><div>Servicii</div></a>
            <ul class="sub-menu-container">
                <li class="menu-item">
                    <a class="menu-link" href="https://deratdezin-vest.ro/dezinsectie"><div><i class="bi-hypnotize"></i>Dezinsecție</div></a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="https://deratdezin-vest.ro/deratizare"><div><i class="bi-hypnotize"></i>Deratizare</div></a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="https://deratdezin-vest.ro/dezinfectie"><div><i class="bi-hypnotize"></i>Dezinfecție generala</div></a>
                </li>
            </ul>
        </li>
        <li class="menu-item">
            <a class="menu-link" href="https://deratdezin-vest.ro/certificari"><div>Certificări</div></a>
        </li>
        <li class="menu-item">
            <a class="menu-link" href="https://deratdezin-vest.ro/daunatori"><div>Dăunători</div></a>
        </li>
        <li class="menu-item">
            <a class="menu-link" href="https://deratdezin-vest.ro/contact"><div>Contact</div></a>
        </li>
        <li class="menu-item">
            <a class="menu-link" href="https://deratdezin-vest.ro/faqs"><div>FAQ</div></a>
        </li>
    </ul>

</nav><!-- #primary-menu end -->

<script src="js/functions.js"></script>